<body cz-shortcut-listen="true">

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
    </symbol>
  </svg>

  <div class="container py-3">
    <header class="">
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Proyecto</span>
        </a>
      </div>
    </header>

    <main>
      <tabset [justified]="true">
        <tab heading="Tarea de Arranque"><app-tarea-arranque></app-tarea-arranque></tab>
        <tab heading="Tarea 2">Short Labeled Justified content</tab>
        <!-- <tab heading="Long Justified">Long Labeled Justified content</tab> -->
      </tabset>
    </main>
  </div>





  </body>

<router-outlet></router-outlet>
